body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }

body{ color:#fff; -webkit-appearance: none; background:#fff; overflow-x:hidden; font-family:Microsoft Yahei;}
li { list-style: none; }
a { color:#535862; text-decoration: none; }
a:hover { color:#c40000; text-decoration: underline; }
legend { color: #000; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
.clearfix:after, .wrapper:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.middle * { display: inline-block; vertical-align: middle; }
.relative{ position:relative; z-index:1;}

/* link color */
.red{ color:#f42b13;}
.green{ color:#16c154; }
.black{ color:black;}
.gray{ color:#666; }
.blue{ color:#2899f2; }
.small{ font-size:.75rem;}
.orange{ color: #cb420c }

 /* layout */
.hide{ display: none;}
.focus-cont { padding-bottom: 0; /*max-width: 640px;*/ margin: 0 auto; position: relative; }
.loading-box { width: 100%; height:100%; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; bottom:0;  color: #fff; overflow: hidden; z-index: 3000;}
.track { position: absolute; top: 40%; left: 40%; width: 0px; height: 2px; }
	.track .txt { position: absolute; top: -30px; left: 0; width: 300px; text-align: center; }
		.track .txt span, .track .bar { position: relative; left: -40%; }
	.track .bar { position: absolute; top: -40%; width: 100%; height: 100%; background: #f1f1f1; }
.layout-img { display:none; }
.bgbig { width: 100%; height: 100%; background: url(http://i0.jrjimg.cn/wap2014/wxbug/bgbig.png) repeat; position: fixed; top: 0; left: 0; z-index: 9998; }
	.tsbox { position: fixed; top: 0; right: 0; z-index: 9999; }
		.tsbox img { width: 98%; height: auto; display: block; margin: 0 auto; }

.share-img{ width:20px; height:20px; opacity:0; display:none;}

.container{ position:relative; z-index:1; width:100%; transition-duration:1s; transform:translateY(300px); -webkit-transition-duration:1s; -webkit-transform:translateY(300px); opacity:0; overflow:hidden;}
