body{background-color:#000000;margin:0}
#stockdiv span{position: absolute;}
#stockdiv td, #stockdiv div, #stockdiv span{font-size:14px; line-height:14px; font-family:'Î¢ÈíÑÅºÚ', Verdana, Arial, Helvetica, sans-serif;}
