body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }
html,body,root{ height:100%; overflow:hidden;}
body{ margin:0 auto; color:#fff; -webkit-appearance: none; background:#fff; overflow-y:scroll; font-family:'PingFang SC','STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif; color: #878C92;}
li { list-style: none; }
html,body{ max-width:750px; margin:0 auto;}
a { color:#535862; text-decoration: none; }
a:hover { color:#c40000; text-decoration: underline; }
legend { color: #000; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
.clearfix:after, .wrapper:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.middle * { display: inline-block; vertical-align: middle; }
::-webkit-input-placeholder{ font-size:.75rem; }

/* height */
$s1:.0625rem;
$s2:.125rem;
$s3:.1875rem;
$s4:.25rem;
$s5:.3125rem;
$s6:.375rem;
$s7:.4375rem;
$s8:.5rem;
$s9:.5625rem;
$s10:.625rem;
$s11:.6875rem;
$s12: .75rem;
$s13: .8125rem;
$s14: .875rem;
$s15: .9375rem;
$s16: 1rem;
$s17: 1.0625rem;
$s18 : 1.125rem;
$s20 : 1.25rem;
$s21 : 1.3125rem;
$s22 : 1.375rem;
$s25 : 1.5625rem;
$s28 : 1.75rem;
$s30 : 1.875rem;
$s40 : 2.5rem;
$s50 : 3.125rem;
$s60 : 3.75rem;
$s70 : 4.375rem;

$browser : webkit;
/* public */
@mixin border( $color:#DBDBDB , $size:bottom ){
	background-image: -webkit-linear-gradient(90deg,$color,$color 50%,transparent 50%);
	background-image: -moz-linear-gradient(90deg,$color,$color 50%,transparent 50%);
	background-image: -o-linear-gradient(90deg,$color,$color 50%,transparent 50%);
	background-image: linear-gradient(0,$color,$color 50%,transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: $size
}
@mixin contain($img , $contain:contain){
	background: url($img) no-repeat;
	background-size: $contain;
}
@mixin animation( $name , $time:.5s , $move:infinite , $line:linear ){
	animation: $name $time $move $line;
    @each $key in $browser {
        -#{$key}-animation:$name $time $move $line;
    }
}
@mixin box{
	display: -webkit-box;
    display: -webkit-flexbox;
    display: flexbox;
}
@mixin flex( $val :0 ){
    flex-shrink: $val ;
    @each $key in $browser {
        -#{$key}-flex-shrink:$val;
    }
}
@mixin box-flex( $val :1 ){
    box-flex:$val;
    @each $key in $browser {
        -#{$key}-box-flex:$val;
    }
}
@mixin box-orient( $val : vertical ){
    box-orient:$val;
    @each $key in $browser {
        -#{$key}-box-orient:$val;
    }
}
@mixin boxCenter( $val : center ){
	box-pack: $val;
    justify-content:$val;
    @each $key in $browser {
        -#{$key}-box-pack:$val;
        -#{$key}-justify-content:$val;
    }
}
@mixin boxMiddle( $val : center ){
	box-align: $val;
    align-content:$val;
    @each $key in $browser {
        -#{$key}-box-align:$val;
        -#{$key}-align-content:$val;
    }
}
@mixin align-items( $val : center){
    align-items : $val;
    @each $key in $browser {
        -#{$key}-align-items:$val;
    }
}
@mixin flex-grow( $val : 1){
    flex-grow : $val; -webkit-flex-grow : $val
}
@mixin box-sizing ($sizing:border-box) {
    -webkit-box-sizing:$sizing;
            box-sizing:$sizing;
}

@mixin transition-property( $val , $b ){
    transition-property: $val;
    @each $key in $browser {
        @if $b{
            -#{$key}-transition-property:-#{$key}-$val;
        }@else{
            -#{$key}-transition-property:$val;
        }
    }
}
@mixin transition-duration( $val:.3s ){
    transition-duration : $val;
    @each $key in $browser {
        -#{$key}-transition-duration:$val;
    }
}
@mixin transform( $val ){
    transform : $val;
    @each $key in $browser {
        -#{$key}-transform:$val;
    }
}
@mixin animation($val){
    animation : $val;
    @each $key in $browser {
        -#{$key}-animation:$val;
    }
}

$minDevice: -webkit-min-device-pixel-ratio;
$maxDevice: -webkit-max-device-pixel-ratio;
@mixin size( $key , $val , $device:1 ){
    @if $device == 1080{
        $val : $val/2.88;
    }
    $val : $val/16px * 1rem;
    #{$key} :  $val;
    @media only screen and (min-device-width : 320px) and (max-device-width : 340px) and (orientation : portrait) and ($minDevice:1) and ($maxDevice:2) {
        #{$key}: $val*.85714285714285714;
    }
    @media only screen and (min-device-width : 240px) and (max-device-width : 600px) and (orientation : portrait) and ($minDevice:0.75) and ($maxDevice:1.9){
        #{$key}: $val*.85714285714285714;
    }

    //iphone 6 plus
    @media only screen and (min-device-width : 410px) and (max-device-width : 500px) and (orientation : portrait) and ($minDevice:2.5) and ($maxDevice:4.0){
        #{$key}: $val*1.105;
    }
}
@mixin font-size( $val ){
	@include size(font-size,$val)
}

@mixin linear( $color1 , $color2 ){
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
    background: -ms-linear-gradient(top, $color1 0%,$color2 100%);
    background: linear-gradient(to bottom, $color1 0%,$color2 100%);
}
@mixin keyframes($a) {
    @keyframes #{$a} {
        @content;
    }
    @-webkit-keyframes #{$a} {
        @content;
    }
}

/* link color */
.red{ color:#f42b13;}
.green{ color:#16c154; }
.black{ color:black;}
.gray{ color:#666; }
.blue{ color:#2899f2; }
.orange{ color: #cb420c }

/* public */
.flex{ @include flex(); }
input{outline: none;}

 /* layout */
.hide{ display: none;}
.container{ position:relative; z-index:1; width:100%; @include transform(translateY(300px)); @include transition-duration(1s);  opacity:0; overflow:hidden;}
.container.cur{ @include transform(translateY(0px)); opacity:1; }
.effect{ float: left; @include transition-duration(.5s); width: 100%; height: 100%; overflow:hidden; perspective: 600px; -webkit-perspective: 600px; background: #EFEFF4; }
.effect .option{ float: left; width:100%; min-height:6.25rem; @include transition-duration(.5s); overflow: hidden; background:#fff;}